<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHPFastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\laragon\bin\php\php-8.1.10-Win32-vs16-x64\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="default.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
